<div class="main" data-aos="fade-zoom-in" data-aos-duration="1000">
    <h2 class="text-center title" style="color: #044e6eca;">MANY WAYS TO REACH OUT TO US;</h2>
    <h2 class="text-center mb-4 pb-2" style="color: #044e6eca;">WE LOOK FORWARD TO HELPING YOU</h2>

    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-7 m-0 p-0 position-relative">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15079.81240935995!2d73.02931992582226!3d19.109713213418587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c0fa95ff1789%3A0xed94f90522f1346b!2sLTIMindtree!5e0!3m2!1sen!2sin!4v1729273883845!5m2!1sen!2sin"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="map-overlay"></div>
            </div>
            <div class="col-md-5 px-5">
                <h5 style="color: #0d688eca;"><i class="fa-solid fa-map-pin"></i> Address</h5>
                <p>
                    TTC Electronic Zone Shil Phata,
                    Mahape Road Kopar Khairane,
                    MIDC Industrial Area, Mahape,
                    Navi Mumbai, Maharashtra 400710
                </p>
                <h5 style="color: #0d688eca;"><i class="fa-solid fa-envelope"></i> Email</h5>
                <p>PawsitiveVets@gmail.com</p>
                <h5 style="color: #0d688eca;"><i class="fa-solid fa-phone"></i> Phone</h5>
                <p>+910031053105</p>
            </div>
        </div>
    </div>
</div>