<div style="position: relative; font-family: Playfair Display, serif; background-image: url('assets/backgrounds/aboutUs.jpeg');"  data-aos="fade-zoom-in" data-aos-duration="1000">
    <h1 class="text-center title" style="color: #54819c;">APPROACHABLE EXPERTS</h1>
    <h1 class="text-center" style="color: #54819c;">THERE WHERE YOU NEED US MOST</h1>

    <div class="container">
        <h2 class="text-center pb-2 pt-3" style="color: #814f4f;">Our Team</h2>
        <p class="text-center" style="color: #3d4117;">Our team consists of skilled veterinary surgeons, emergency and
            critical care
            specialists, diagnostic imaging experts,
            and operations professionals, ensuring top-notch, specialized care for your pet in critical situations.</p>
        <div class="row py-5">
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-duration="1000"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d1.png" alt="doctor1">
                <p class="fs-5 fw-bold pt-1">Dr. Aishwarya R</p>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-duration="1500"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d2.png" alt="doctor2">
                <p class="fs-5 fw-bold pt-1">Dr. Hamid Shah</p>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-duration="2000"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d3.png" alt="doctor3">
                <p class="fs-5 fw-bold pt-1">Rochelle D'souza</p>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d4.png" alt="doctor4">
                <p class="fs-5 fw-bold pt-1">Anup Vora</p>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d5.png" alt="doctor5">
                <p class="fs-5 fw-bold pt-1">Dr. Sandeep</p>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-12 text-center p-0" data-aos="fade-up" data-aos-delay="100" data-aos-duration="2000"
            data-aos-anchor-placement="bottom-bottom">
                <img class="doctorImg" src="../../../assets/doctors/d6.png" alt="doctor6">
                <p class="fs-5 fw-bold pt-1">Dr. Surbhi Gupta</p>
            </div>
        </div>
    </div>
    <div style="background-color:rgba(118, 106, 13, 0.321);">
        <p style="color: black;" class="m-0 py-3 text-center fw-semibold text-white">Appointment and Emergency help is available by calling
            +910031053105</p>
    </div>

</div>