<body>
    <div class="container" *ngIf="pets?.length>0">
        <h2 id="Htwo">My Pet</h2>
        <table>
            <thead>
                <th>Pet Name </th>
                <th>Species </th>
                <th>Breed </th>
                <th>DateOfBirth </th>
                <th>Status </th>
            </thead>
            <tbody>
                <tr *ngFor="let pet of pets">
                    <td>{{pet.name}} </td>
                    <td>{{pet.species}}</td>
                    <td>{{pet.breed}}</td>
                    <td>{{pet.dateOfBirth}}</td>
                    <td>{{pet.status}}</td>
                    <button (click)="updatePetById(pet.petId)">Update Pet</button>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" *ngIf="pets?.length==0">
        <img src="assets/backgrounds/nodata.png" alt="nodata" style="max-width: 500px;">
        <p class="fs-4 fw-semibold" style="color: rgb(66, 66, 119);">No pets found!!!</p>
    </div>
</body>