<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="assets/carousels/carousel-5.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #c9b0a0;">Pawsitive Care for Your Furry Friends</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/carousels/carousel-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #c9b0a0;">Your Pet’s Health, Our Mission</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/carousels/carousel-3.jpg" class="d-block w-100 img-1" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #f7dac8;">Where Every Pet Feels at Home</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/carousels/carousel-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #c9b0a0;">Where Pets Are Family</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/carousels/carousel-4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #c9b0a0;">Trusted Care for Your Beloved Pets</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="assets/carousels/carousel-6.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <h5 style="color: #c9b0a0;">Happy Pets, Happy Hearts</h5>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container text-center pt-5 fw-semibold fs-5">
        <div data-aos-delay="200" data-aos="fade-zoom-in" data-aos-duration="2000" class="shadow py-5 fs-3 px-4 mt-4"
            style="background-color: rgba(247, 218, 200, 0.085); color: #a36a6a; 
        font-weight: 400; font-size: 20px; font-family: Oleo Script, serif;">
            <p>We are dedicated to providing compassionate and comprehensive care for your beloved pets.</p>
            <p>We offer a warm and welcoming environment where every pet is treated like family.</p>
            <p>Whether it's routine check-ups or complex medical issues, we are committed to delivering the highest
                standard
                of
                care to keep your furry friends healthy and happy.</p>
        </div>
        <div data-aos="fade-right" data-aos-duration="1800" data-aos-easing="ease-in-sine"
            style="font-family: Playfair Display, serif;">
            <h2 class="mt-5 py-3 fw-bold" style="color: #c62e2ec7;">OUR SPECIALITIES</h2>
            <p style="color: #8e5959;">Our experienced veterinarians provide thorough consultations to address any
                concerns
                or health issues your pet may have.
                We offer personalised care and treatment plans tailored to your pet's specific needs.
                Our Emergency and Critical Care Departments operate 24x7x365.</p>
        </div>
        <div class="container row mt-2 py-4">
            <div class="col-4" data-aos="fade-up" data-aos-delay="400" data-aos-duration="2000"
                data-aos-anchor-placement="bottom-bottom">
                <img src="assets/services/service-1.png" class="service-img1" alt="service-img1">
            </div>
            <div class="col-4" data-aos="fade-up" data-aos-delay="400" data-aos-duration="2500"
                data-aos-anchor-placement="bottom-bottom">
                <img src="assets/services/service-2.png" class="service-img1" alt="service-Img2">
            </div>
            <div class="col-4" data-aos="fade-up" data-aos-delay="400" data-aos-duration="3000"
                data-aos-anchor-placement="bottom-bottom">
                <img src="assets/services/service-3.png" class="service-img1" alt="service-img3">
            </div>
        </div>
    </div>

    <div style="background-color: rgba(62, 55, 4, 0.321);">
        <div class="container pt-5" style="font-family: Open Sans, serif;">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h3 style="color: #794c4c;" class="fw-semibold">PawsitiveVet</h3>
                    <p style="color: #6b5245;" class="fw-mediumbold">Book now and find the right help for your pets
                        in
                        the comfort of your home.
                    </p>
                </div>

                <div class="col-md-4 mb-4">
                    <h5 style="color: #794c4c;" class="fw-semibold">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="['/about-us']">About Us</a></li>
                        <li><a [routerLink]="['/contact-us']">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="row flex-column">
                        <div class="col mb-3">
                            <h5 style="color: #794c4c;" class="fw-semibold">I Have An Emergency</h5>
                            <p style="color: #856a5c;">+91 0031053100</p>
                            <h5 style="color: #794c4c;" class="fw-semibold">Book An Appointment</h5>
                            <p style="color: #856a5c;">+91 0031053105</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>